resilience4j.ratelimiter:
  instances:
    weatherAPIService:
      limitForPeriod: 4
      limitRefreshPeriod: 10s


spring:
  datasource:
    url: jdbc:h2:mem:db
    username: ${H2_NAME}
    password: ${H2_PASSWORD}
    driverClassName: org.h2.Driver
  h2:
    console.enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  liquibase:
    change-log: classpath:h2-database-changelog.yml

weatherapi:
  key: ${API_KEY}
  baseUrl: "https://api.weatherapi.com/v1"

cache:
  course:
    size: 9
    loadFactor: .75f
    accessOrder: true